<div class="container">
<div class="row">
  <a  class="btn-login-link" [routerLink]="['/contract-note']"> < Back</a>
</div>

  <div  class="row">
    <div class="layout-center">
      <h2>Contract Information</h2> 
    </div>
  </div>


  

 
  <div class="card">
    <p-tabView>
        <p-tabPanel header="Customer Details">
              <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="idcard">Contract Number</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="idcard">Customer Number</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="idcard">Address (More)</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">First Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">House Registration Address</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
               </div>

               <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Gender</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Marital Status</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Current Address</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label for="idcard">Phone 1</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="idcard">Occupation</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="idcard">Office Address</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label for="idcard">Phone 2</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="idcard">Contract Form Address 1</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="idcard">Contract Form Address 2</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="idcard">Phone 3</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-4">
                      <!-- <div class="form-group">
                        <label for="idcard">Contract Form Address 1</label>
                        <input type="text" class="form-control">
                      </div> -->
                    </div>
                    <div class="col-4">
                      <!-- <div class="form-group">
                        <label for="idcard">Contract Form Address 2</label>
                        <input type="text" class="form-control">
                      </div> -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="idcard">Phone 4</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-4">
                      <!-- <div class="form-group">
                        <label for="idcard">Contract Form Address 1</label>
                        <input type="text" class="form-control">
                      </div> -->
                    </div>
                    <div class="col-4">
                      <!-- <div class="form-group">
                        <label for="idcard">Contract Form Address 2</label>
                        <input type="text" class="form-control">
                      </div> -->
                    </div>
                  </div>
            
        </p-tabPanel>
        <p-tabPanel header="Account Summary">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Product Type</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Portfolio</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Finance Amount</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Brand</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Project Code</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">OS Amount</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Model Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">C Trunk</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">OD Amount</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Car Province</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Lat Long</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Principle Outstanding Amount</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Engine Number</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">Lat Long</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Overdue Period</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Chassis Number</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">Lat Long</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Cycle Day</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">App Color</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">Lat Long</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Aging DPD</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">App Color</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">Lat Long</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Bucket</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">App Color</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <!-- <div class="form-group">
                    <label for="idcard">Lat Long</label>
                    <input type="text" class="form-control">
                  </div> -->
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="idcard">Bucket History</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
        </p-tabPanel>
        <p-tabPanel header="Follow-Up History">
          <div class="row">

            <table  mat-table [dataSource]="dataSource" 
            matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">
      
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="ActionCode_ActionName">
                <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by System"> ActionCode ActionName </th>
                <td mat-cell *matCellDef="let element"> {{element.ActionCode_ActionName}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Result">
                <th mat-header-cell *matHeaderCellDef 
                mat-sort-header sortActionDescription="Sort by Description"> Result </th>
                <td mat-cell *matCellDef="let element"> {{element.Result}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="Next_Action">
                <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by CreateBy_CreateDate"> Next_Action </th>
                <td mat-cell *matCellDef="let element"> {{element.Next_Action}} </td>
              </ng-container>
      
                <!-- UpdateBy_UpdateDate Column -->
                <ng-container matColumnDef="Next_Action_Date">
                  <th mat-header-cell *matHeaderCellDef
                  mat-sort-header sortActionDescription="Sort by UpdateBy_UpdateDate"> Next_Action_Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.Next_Action_Date}} </td>
                </ng-container>
      
      
                  <!-- Status Column -->
                  <ng-container matColumnDef="Remask">
                    <th mat-header-cell *matHeaderCellDef
                    mat-sort-header sortActionDescription="Sort by Status"> Remask </th>
                    <td mat-cell *matCellDef="let element"> {{element.Remask}} </td>
                  </ng-container>
      
      
              <!-- Action Column -->
              <ng-container matColumnDef="Action">
                <th mat-header-cell  *matHeaderCellDef > Actions </th>
                <td mat-cell *matCellDef="let element" >
                  <mat-icon class="icon-pointer" (click)="showDialogCreateTask(element)">visibility</mat-icon>
                  <!-- <mat-icon class="icon-pointer" (click)="showDialogCreateTask(element,element.position)">edit</mat-icon>
                  <mat-icon class="icon-pointer" (click)="confirm2(element)">delete</mat-icon> -->
                    <!-- (click)="getRecord(myRowData)">    confirmDelete(element)-->
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value}}"</td> -->
              </tr>
            </table>
            
      
          </div>
      
        <div class="row">
          <mat-paginator #paginator 
                    [length]="length"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page"
                    (page)="handlePageEvent($event)">
            </mat-paginator>
      
        </div>
        </p-tabPanel>
        <p-tabPanel  header="Billing/Invoice Details"> 
          <div class="row">

            <table  mat-table [dataSource]="dataSource2" 
            matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">
      
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="TransactionDate">
                <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by System">TransactionDate </th>
                <td mat-cell *matCellDef="let element"> {{element.TransactionDate}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Model">
                <th mat-header-cell *matHeaderCellDef 
                mat-sort-header sortActionDescription="Sort by Description"> Model </th>
                <td mat-cell *matCellDef="let element"> {{element.Model}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by CreateBy_CreateDate"> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
              </ng-container>
      
                <!-- UpdateBy_UpdateDate Column -->
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef
                  mat-sort-header sortActionDescription="Sort by UpdateBy_UpdateDate"> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                </ng-container>
      
      
                  <!-- Status Column -->
                  <ng-container matColumnDef="Remask">
                    <th mat-header-cell *matHeaderCellDef
                    mat-sort-header sortActionDescription="Sort by Status"> Remask </th>
                    <td mat-cell *matCellDef="let element"> {{element.Remask}} </td>
                  </ng-container>
      
      
              <!-- Action Column -->
              <ng-container matColumnDef="Action">
                <th mat-header-cell  *matHeaderCellDef > Actions </th>
                <td mat-cell *matCellDef="let element" >
                  <mat-icon class="icon-pointer" (click)="showDialogCreateTask(element)">visibility</mat-icon>
                  <!-- <mat-icon class="icon-pointer" (click)="showDialogCreateTask(element,element.position)">edit</mat-icon>
                  <mat-icon class="icon-pointer" (click)="confirm2(element)">delete</mat-icon> -->
                    <!-- (click)="getRecord(myRowData)">    confirmDelete(element)-->
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value}}"</td> -->
              </tr>
            </table>
            
      
          </div>
      
        <div class="row">
          <mat-paginator #paginator 
                    [length]="length"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page"
                    (page)="handlePageEvent($event)">
            </mat-paginator>
      
        </div>
        </p-tabPanel>
    </p-tabView>
</div>












