* :not(.material-icons)
{ 
  //font-family: 'Kanit', sans-serif !important;
  font-family: 'Arial', "Helvetica", sans-serif !important;
}

// :host ::ng-deep input,table,select,option
//  {
//   font-family: 'Kanit', sans-serif!important;
// }

:host ::ng-deep .p-panelmenu-icon {
    order: 1; // to be the first item on right side.
}

:host ::ng-deep .p-menuitem {
    margin-left: 15px !important;
}
:host ::ng-deep .p-menuitem-text {
    flex-grow: 1; // to fill the whole space and push the icon to the end
    margin: 5px !important;
    
}




:host ::ng-deep .gfgStyling {
    font-size: 14px !important;
    font-weight: bold !important;
    // font-style: italic !important;
    //font-family: cursive !important;
}

:host ::ng-deep .p-button
{
    color: black;
    background-color: white;
    
}

// :host ::ng-deep .p-panelmenu .p-panelmenu-panel  {
//     //margin: 5px  !important;
// }

