<div class="container-fluid" style="height: 91vh;">

  <div  class="row">
    <div class="layout-center">
      <h2>Setting Follow Up</h2> 
    </div>
  </div>

  <div class="row">
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Action Code">
          <app-action-code></app-action-code>
        </p-tabPanel>
        <p-tabPanel header="Result Code">

          

          
          
        </p-tabPanel>

        <p-tabPanel header="Next Action">
          
        </p-tabPanel>
    </p-tabView>
  </div>
  
 </div>












