<main class="main-login">
  <div class="section-box-inner">
    <div class="login-logo">
      <img src="../assets/images/logo.jpg" alt="summit-logo">
    </div>
    <div class="box-login">
      <div class="login-head">
        <h1 class="title-bblue-ssky txt-center">Forgot Password</h1>
      </div>
      <div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSendOTP()" novalidate>
        <div class="form-group">
          <div class="row">
            <label>User Name <span class="txt-remark">*</span></label>
            <div class="position-flex">
              
              <div><input type="text" class="form-control" placeholder="User Name" formControlName ="user_name"></div>
              <div class="user_name-style"><button type="submit" class="btn-login">Send OTP</button></div>
             
            </div>

            <span *ngIf="formSubmitted && forgotPasswordForm.get('user_name').hasError('required')" class="txt-remark">
              User Name is required
           </span>

            
          </div>
        
        </div>
      </form>

      <form [formGroup]="VerifyForm" (ngSubmit)="onVerifytOtp()">
            <div class="form-group">
              <label for="contractid">Verify OTP <span class="txt-remark">*</span></label>
              <input type="text" class="form-control" maxlength="4" formControlName ="verify_code" >

              <span *ngIf="formSubmitted && VerifyForm.get('verify_code').hasError('required')" class="txt-remark">
                Verify otp is required
             </span>

            </div>
       


            <div class="row">
              <div class="col-sm-6">
                  
                  <button type="submit" class="btn-login" >ยืนยัน</button>
                
                </div>


              
                <div class="col-sm-6" [routerLink]="['/login']">
                  <!-- <div class="btn-login-link">กลับสู่หน้าหลัก</div> -->
                  <a  class="btn-login-link" [routerLink]="['/login']">กลับสู่หน้าหลัก</a>
                </div>
            </div>

      </form>
      </div>
    </div>
  </div>
</main>

<div>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" [visible]="isShowConfirm" (onHide)="isShowConfirm = false"> </p-confirmDialog>
</div> 



<div>
  <p-dialog header="Notify Message" [visible]="isShowMessageNotify" (visibleChange)="onCloseDialogNotifyMessage()"
  [draggable]="false" [style]="{width: '30vw'}"  >
    <!-- <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap"></span>
        </div>
    </ng-template> -->
    <p class="m-0">
        {{messageNotify}}
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click) ="onCloseDialogNotifyMessage()" label="Ok" pAutoFocus></p-button>
    </ng-template>
</p-dialog>
</div>