<main class="main-login">
  <div class="section-box-inner">
    <div class="login-logo">
      <img src="../assets/images/logo.jpg" alt="summit-logo">
    </div>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <div class="box-login">
      
      <div class="login-head">
        <h1 class="title-bblue-ssky txt-center">Reset Password</h1>
      </div>
      <div>

       
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>User Name <span class="txt-remark">*</span></label>
                <input type="text" class="form-control" formControlName ="user_name">
                <span *ngIf="formSubmitted && resetPasswordForm.get('user_name').value == undefined " class="txt-remark">
                  User Name is required 
               </span>
              </div>
            </div>
          
        </div>


        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="idcard">Password <span class="txt-remark">*</span></label>
              <input type="password" class="form-control" maxlength="16" formControlName ="password">

              <span *ngIf="formSubmitted && resetPasswordForm.get('password').hasError('required')" class="txt-remark">
                Password is required
             </span>
            </div>
          </div>
        
      </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="idcard">Password Confirm<span class="txt-remark">*</span></label>
              <input type="password" class="form-control"  maxlength="16" formControlName ="password_confirm">
              <span *ngIf="formSubmitted  && resetPasswordForm.get('password_confirm').hasError('required')" class="txt-remark">
                Password confirm is required
             </span>
             <span *ngIf="formSubmitted && resetPasswordForm.get('password_confirm').value != ''  && resetPasswordForm.hasError('noMatch')" class="txt-remark">
              Password confirm Not match
           </span>
            </div>
          </div>

        
        
      </div>

    
        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn-login">ยืนยัน</button>
          </div>

        
          <div class="col-sm-6">
            <button  class="btn-login-link" [routerLink]="['/login']">กลับสู่หน้าหลัก</button>
          </div>

         

        </div>
      


      </div>
    
    </div>
    </form>
 

 

  </div>
</main>

<div>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" [visible]="isShowConfirm" (onHide)="isShowConfirm = false"> </p-confirmDialog>
</div> 



<div>
  <p-dialog header="Notify Message" [visible]="isShowMessageNotify" (visibleChange)="onCloseDialogNotifyMessage()"
  [draggable]="false" [style]="{width: '30vw'}"  >
    <!-- <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap"></span>
        </div>
    </ng-template> -->
    <p class="m-0">
        {{messageNotify}}
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click) ="onCloseDialogNotifyMessage()" label="Ok" pAutoFocus></p-button>
    </ng-template>
</p-dialog>
</div>