<!-- <div class="misc-wrapper centered">
  <h2 class="mb-2 mx-2">Welcome to Contract Note :) 😊</h2> 
   <p class="mb-4 mx-2">Oops! 😖 The requested URL was not found on this server.</p> 
  
  <div class="mt-3">
    <img class="bg" src="../assets/images/welcome.png" alt="page-misc-error-light" width="500"
      class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
      data-app-light-img="illustrations/page-misc-error-light.png">
  </div> 




  </div> -->

  <div class="container">

    <div class="layout-center">
      <h1>Home</h1>
    </div>


    <!-- <div class="row">

      <div class="col-3">

      </div>
      <div class="col-3">
        <div class="layout-space1">

          <button pButton type="button" label="Master Data"  size="large" icon="pi pi-fw pi-calendar" class="p-button-outlined"></button>
         
        </div>

        <div class="layout-space2">
          <button pButton type="button" label="Contract Note"  size="large" icon="pi pi-fw pi-pencil" class="p-button-outlined"></button>
        </div>
      </div>
     
      <div class="col-3">
        <div class="layout-space1">
          <button pButton type="button" label="Administrator"  size="large" icon="pi pi-fw pi-user" class="p-button-outlined"></button>

        </div>

        <div class="layout-space2">
          
          <button pButton type="button" label="Log"  size="large" icon="pi pi-fw pi-file" class="p-button-outlined"></button>
    
        </div>

      </div>

    </div> -->
    
    <div class="row">
      <img src="../../../../assets/images/SaveTheWorld.png" alt="">
    </div>
   

  </div>
  
  



