.a {
  padding:  100px;;
}
.show {
  display: block;
}


.layout-center 
{
  display: flex;
  justify-content: center;
}

.layout-space1 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  
}

.layout-space2 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  margin: 20px;
  
}

//@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* .validate-error {
    color: #f27474;
  }
  
  .btn-send-code {
    border: 1px solid #d9dee3 !important;
  }
  
  .cus-1.validate-error .input-group-text {
    border: 1px solid #f27474;
    color: #f27474;
  }
  
  .cus-1.validate-error .input-group > .form-control {
    border: 1px solid #f27474;
  }
  .cus-1.validate-error .btn-send-code {
    border: 1px solid #f27474 !important;
    color: #f27474;
  }
  
  .cus-1.validate-error .form-label {
    color: #f27474;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   */

// * {
//     font-family: 'Kanit', sans-serif;
// }

.main-login {
    padding: 70px 0;
    background: #fff;
}

label {
  margin-bottom: 0.5rem;
}

.form-control {
  background: #F8F8F8;
  font-size: 18px;
  color: #979797;
  margin-bottom: 1rem;
}

.login-logo {
    text-align: center;
    margin-bottom: 35px;
}

.login-logo img {
  width: 100px;
}

.box-login {
    width: 45%;
    margin: 0 auto;
}

.login-head h1 {
  padding: 0;
}

.login-head {
    text-align: center;
    margin-bottom: 20px;
}

.title-bblue-ssky {
    color: #0EAEEA;
    font-family: 'Kanit';
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 35px;
}

.title-bblue-ssky span {
  color: #023E90;
}

.btn-login {
    margin-top: 25px;
    display: block;
    background: #023E90;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    width: 100%;
    border: none;
    transition: all .4s ease-in-out;
}

.btn-login-link {
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #0EAEEA;
  color: #fff;
  padding: 10px 30px;
  border-radius: 6px;
}

p.txt-remark {
    font-size: 17px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.txt-remark {
  color: #FF0000;
}

@media (min-width: 320px) and (max-width: 480px) {
  .box-login {
    margin-bottom: 25px;
    width: 75%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .box-login {
    margin-bottom: 25px;
    width: 75%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .box-login {
    margin-bottom: 25px;
    width: 75%;
  }
}

@media (min-width: 1201px) {
    .box-login {
        width: 45%;
    }
}
