<div class="container">
  <div  class="row">
    <h2>Task</h2> 
  </div>
  <div class="row">
      <button pButton type="button" icon="bi bi-plus-lg" iconPos="left"
      class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only" 
      style="font-size: 1rem; width: 2rem;height:2rem;" 
      (click)="showDialogCreateTask(0)">
    </button> 

  <p-dialog header= "{{ (this.isEdit) ?  'Edit Task' : 'Add Task' }}" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    
      <div class="row">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

          <input type = "text" name = "fullName" placeholder = "Your full name" formControlName="position" style="display :none">
          <br/>
          <input type = "text" name = "fullName" placeholder = "Your full name" formControlName="name" >
          <br/>
        
          <input type = "email" name = "email" placeholder = "Your email" formControlName="weight" >
          <br/>
        
          <textarea name = "message" placeholder = "Your message" formControlName="symbol" ></textarea>
          <br/>
          <input type = "submit" value = "Send">
        </form> 
  
      </div>
      <!-- <p-button (click)="confirm($event)" icon="pi pi-check" label="Confirm"></p-button> -->
  
      
  </p-dialog>
  </div>

  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

    </div> 
  </div>

  <div class="row">

      <table  mat-table [dataSource]="dataSource" 
      matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef
          mat-sort-header sortActionDescription="Sort by name"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef 
          mat-sort-header sortActionDescription="Sort by weight"> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef
          mat-sort-header sortActionDescription="Sort by symbol"> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell  *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let element" >
            <mat-icon class="icon-pointer" (click)="showDialogCreateTask(element)">edit</mat-icon>
            <mat-icon class="icon-pointer">delete</mat-icon>
              <!-- (click)="getRecord(myRowData)"> -->
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      

  </div>

  <div class="row">
    <mat-paginator #paginator 
              [length]="length"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="handlePageEvent($event)">
      </mat-paginator>

  </div>
</div>












